extends ../../layout

block head
    link(rel='stylesheet', href="/css/store.css")
    style.
        .addPopup ul li .notice .n-line {
            color: #df0000;
            font-size: 12px;
            display: none;
        }
block content
    .addPopup
        ul
            for  list in ygdetail.pageList
                li
                    span
                        b 姓名
                        |:
                    input.checkmock(type='text',id="name",placeholder='请输入姓名',value=list.name)
                    .notice
                        .n-line
                li
                    span
                        b 身份证号码
                        |:
                    input.checkmock(type='text',id="sfz",placeholder='请输入身份证号码',value=list.idcard)
                    .notice
                        .n-line
                li
                    span
                        b 选择职位
                        |:
                    select#zw
                        option 店长
                    .notice
                        .n-line
                li
                    span.title
                        b 手机号码
                        |:
                    input.checkmock(type='text',id="phone",placeholder='请输入手机号码',value=list.phonenumber)
                    .notice
                        .n-line
                li
                    span
                        | 设置
                        b 登录密码
                        |:
                    input.checkmock.password(type='password',placeholder='首位为大写字母的8-18位数字、字母组合',value=list.loginpwd)
                    .notice
                        .n-line
                li
                    span
                        b 确认密码
                        |:
                    input.checkmock.cpassword(type='password',placeholder='请再次输入密码',value=list.loginpwd)
                    .notice
                        .n-line




        style.
            .addPopup ul{
                width: auto;
                margin: 0 52px;
            }
            .addPopup ul li span{
                font-size: 16px;
            }
            .addPopup ul li input,
            .addPopup ul li select{
                font-size: 16px;color: #536767;
                height: 36px;
                line-height: 36px;
            }
            .addPopup ul li select {
                margin-top: 3px;
                padding: 0 5px;
                height: 30px;
                width: auto;
                border: 0;
                outline: none;
                color: #536767;
                direction: unset;
                right: 0;
                position: absolute;
            }

