extends ../../layout
block head
    link(rel='stylesheet', href="../../css/store.css")
    link(rel='stylesheet', href="../../css/storeIndex.css")
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span 我的门店
                        .main-container
                                .mode-main
                                    .mt
                                        .extra
                                            .extra-l
                                                .ipt
                                                    span 管理员姓名：
                                                    input(type="text",value="")
                                                .ipt
                                                    span 操作员联系电话：
                                                    input(type="text",value="")
                                                .ipt
                                                    span 状态：
                                                    select
                                                        option 全部
                                                        option 通用信用支付卡
                                                        option 信用支付专项卡
                                                        option 分期支付专项卡
                                            .extra-r
                                                a.bpt.btn-danger(href="").kfz 搜索
                                                a.bpt(href="").kfz 重置
                                    .mc
                                        .site-tabl-link.extra(style="margin-top:30px")
                                            .extra-l
                                                .tabtn.danger
                                                    i.remove
                                                    | 删除
                                        .site-t-inner
                                            .mtable
                                                table.bord
                                                    thead
                                                        tr
                                                            th
                                                                input#all(type='checkbox')
                                                            th 门店名称
                                                            th 店长
                                                            th 店长联系电话
                                                            th 状态
                                                            th 操作
                                                    for data in Mdlist.pageList
                                                        tbody.xj
                                                                tr
                                                                    td
                                                                        input(type='checkbox',value=data.aid)
                                                                    td  #{data.shopname}
                                                                    td  #{data.mgrname}
                                                                    td  #{data.tel}
                                                                    td  #{data.appstatename}
                                                                    td
                                                                        a.see(href='/store/tenant/viewMdWait?mdid=' + data.aid+'&tyzt='+data.appstate) 查看
                                                                        a.replce(href='') 重新发布

    script.
        //全选效果
        $('#all').on('click', function () {
            $(".xj input[type='checkbox']").prop("checked", $("#all").prop("checked"));
        });
        $(".xj input[type='checkbox']").each(function () {
            $(this).on('click', function () {
                var allCheckNum = $(".xj input[type='checkbox']").length;
                var checkedNum = $(".xj input[type='checkbox']:checked").length;
                if (allCheckNum == checkedNum) {
                    $("#all").prop("checked", 'checked');//全被选中
                } else {
                    $("#all").prop("checked", '');//部分选中
                }
            })
        });





