extends ../../layout

block head
    link(rel='stylesheet', href='../../css/storeIndex.css')
    link(rel='stylesheet', href='../../css/store.css')
    script(src='../../../js/city/threeCity.js')
    script(src='../../../js/city/cache_city.js')
    script(src='../../../js/tab.js')
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span  订单管理
                            i.arrow &gt;
                            span  订单管理
                            i.arrow &gt;
                            span.last  订单详情
                        .main-container
                            .pagecont
                                .mode-main
                                    .ordermain
                                        -var orderdetail = orderDerail.pageList[0]
                                        .orderState
                                            if orderdetail.orderstate =='2' || orderdetail.orderstate =='5' || orderdetail.orderstate =='1' || orderdetail.orderstate =='0'
                                                .stateInfo
                                                    .img
                                                        img(src="../../icon/dd-wait.png")
                                                    .word 该笔订单待收款！！
                                            else if  orderdetail.orderstate == '4'
                                                .stateInfo
                                                    .img
                                                        img(src="../../icon/dd-wc.png")
                                                    .word 该订单已完成！！
                                            else if  orderdetail.orderstate == '7'
                                                .stateInfo
                                                    .img
                                                        img(src="../../icon/dd-tk.png")
                                                    .word 您已提交订单退款申请，系统处理中，请耐心等待！！
                                            else if orderdetail.orderstate == '6' || orderdetail.orderstate == '8'
                                                .stateInfo
                                                    .img
                                                        img(src="../../icon/dd-tk.png")
                                                    .word 该订单已退款
                                        .orderItems
                                            .orderitem
                                                .title 订单信息
                                                .itemlist
                                                    .cline
                                                        span.name 订单编号
                                                        span.word #{orderdetail.sid}
                                                    .cline
                                                        span.name 订单金额
                                                        span.word #{orderdetail.creditcardamount}
                                                    .cline
                                                        span.name 下单时间
                                                        span.word #{new Date(parseInt(orderdetail.ordertime)).toLocaleString().replace(/:\d{1,2}$/,' ')}
                                                    .cline.block
                                                        span.name 下单门店
                                                        span.word #{orderdetail.shopname}
                                                    .cline.block
                                                        span.name 所使用虚拟卡
                                                        span.word #{orderdetail.typename}
                                            .orderitem
                                                .title 用户信息
                                                .itemlist
                                                    .cline
                                                        span.name 用户姓名
                                                        span.word #{orderdetail.aname}
                                                    .cline
                                                        span.name 用户手机号
                                                        span.word 暂无数据
                                            if orderdetail.orderstate == '7'
                                                .orderitem
                                                    .title 退款进度及说明
                                                    .itemlist
                                                        .cline
                                                            span.name 申请退款时间
                                                            span.word 26565448856
                                                        .cline
                                                            span.name 退款申请人
                                                            span.word 26565448856
                                                        .cline
                                                            span.name 状态
                                                            span.word 26565448856
                                                        .cline
                                                            span.name 退款时间
                                                            span.word 26565448856
                                            if orderdetail.orderstate == '6' &&orderdetail.orderstate == '8'
                                                .orderitem
                                                    .title 退款进度及说明
                                                    .itemlist
                                                        .cline
                                                            span.name 申请退款时间
                                                            span.word 26565448856
                                                        .cline
                                                            span.name 退款申请人
                                                            span.word 26565448856
                                                        .cline
                                                            span.name 状态
                                                            span.word 26565448856
                                                        .cline
                                                            span.name 退款时间
                                                            span.word 26565448856
                                        .orderHandle
                                            a.tabtn.green.add 操作按钮





    script.


