extends ../../layout

block head
    link(rel='stylesheet', href='../../css/storeIndex.css')
    link(rel='stylesheet', href='../../css/store.css')
    script(src='../../../js/city/threeCity.js')
    script(src='../../../js/city/cache_city.js')
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span  我的门店
                            i.arrow &gt;
                            span.last  发布门店
                        .main-container
                            .pagecont
                                .mode-main
                                    form(action="/api/publishMdform",enctype='multipart/form-data',method='post',id='mdform')
                                        .publishbox
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 门店名称：
                                                .inner
                                                    input.textcheck#mdmc(type="text",name="shopname",placeholder='请输入门店名称',data-name="门店名称",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 门店地址：
                                                .inner
                                                    select.mini#province(name="province")
                                                    select.mini#city(name="city")
                                                    select.mini.nomargin#district(name="district")
                                                    input.textcheck(type="text",name="address",placeholder='请输入详细地址',data-name="详细地址",value="",style="margin-top:20px")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 门店联系电话：
                                                .inner
                                                    input#mdphone.textcheck(type="text",name="tel",placeholder='请输入门店联系电话',data-name="门店联系电话",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 营业执照编号：
                                                .inner
                                                    input#mdbh.textcheck(type="text",name="licensenumber",placeholder='请输入营业执照编号',data-name="营业执照编号",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 上传营业执照照片或扫描件：
                                                .inner
                                                    .picbox
                                                        .picinfobutton 点击上传
                                                            input.file(type="file",name="licensephotos",id="zz",onchange="change(zz)")
                                                        .pic
                                                            img(src="",id="img_zz")
                                                .tips 营业执照不能为空
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 门店封面图：
                                                .inner
                                                    .picbox
                                                        .picinfobutton 点击上传
                                                            input.file(type="file",name="shopphotos",id="fm",onchange="change(fm)")
                                                        .pic
                                                            img(src="",id="img_fm")
                                                .tips 门店封面图不能为空
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 品牌信息：
                                                .inner
                                                    input#ppxx.textcheck(type="text",name="brand",placeholder='请输入品牌信息',data-name="品牌信息",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 所在区域：
                                                .inner
                                                    input#szqy.textcheck(type="text",name="areas",placeholder='请输入所在区域',data-name="所在区域",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 选择店长：
                                                .inner
                                                    select#dz(name="mgraid")
                                                        for list in CZYlist.pageList
                                                            option(value=list.aid) #{list.name}
                                                    input#mgrname(type="hidden",name="mgrname",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 门店标签：
                                                .inner
                                                    .checkboxInfo
                                                        for data in MdType.pageList
                                                            label(for='md_'+data.sid)
                                                                span #{data.tagname}
                                                                input.shopstylecheck(type="checkbox",id='md_'+data.sid,value=data.sid,name="shopstylecheck")
                                                        input#shopstyle(type='hidden',name="shopstyle",value="")
                                                .tips
                                            .item
                                                .title
                                                    span.red *
                                                    span.name 门店简介：
                                                .inner
                                                    textarea.textcheck(name="shopcomm",data-name="门店简介",placeholder="请输入门店简介")
                                                .tips
                                            .buttonlinks
                                                .oklink#tj 确认发布


    script.
        var meg = '#{meg}';
        if( meg!=='undefined' && meg!==''){
            zeroModal.alert({
                content: meg,
                okFn: function () {
                    window.location.href="/store/tenant/myshop"
                }
            })
        }
        var districts = {
            s1: 'select[name=province]',
            s2: 'select[name=city]',
            s3: 'select[name=district]',
            v1: '110000000000'
        };
        threeSelect(districts);
        $('.item .textcheck').focus(function () {
            $(this).closest('.item').addClass('blur');
        });
        $('.item .textcheck').blur(function () {
            $(this).closest('.item').removeClass('blur');
            var p = $(this).parent().next().get(0);
            var a = $(this).attr('data-name');
            var b = $(this).val();
            if (b === '') {
                $(p).text(a + '不能为空').show();
                $(this).closest('.item').addClass('error');
            } else {
                $(p).text('').hide();
                $(this).closest('.item').removeClass('error');
            }
        });
        $('.item .textcheck').bind('input propertychange', function () {
            $($(this).parent().next().get(0)).hide().html();
            $(this).closest('.item').removeClass('error');
            $('.loginTips').removeClass('visiable')
        });

            function change(val) {
                var file = document.getElementById(val.id),
                    pic = document.getElementById('img_'+val.id);

                //var ext = file.value.substring(file.value.lastIndexOf(".") + 1).toLowerCase();
                // gif在IE浏览器暂时无法显示
                //if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
                //    zeroModal.alert("图片的格式必须为png或者jpg或者jpeg格式！");
                //    return;
               // }
                var isIE = navigator.userAgent.match(/MSIE/) != null,
                    isIE6 = navigator.userAgent.match(/MSIE 6.0/) != null;
                if (isIE) {
                    file.select();
                    var reallocalpath = document.selection.createRange().text;
                    // IE6浏览器设置img的src为本地路径可以直接显示图片
                    if (isIE6) {
                        pic.src = reallocalpath;
                    } else {
                        // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                        pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                        // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                        pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
                    }
                } else {
                    html5Reader(file);
                }

                function html5Reader(file) {
                    var files = file.files[0];
                    var id = file.id;
                    var reader = new FileReader();
                    reader.readAsDataURL(files);
                    reader.onload = function (e) {
                        var pic = document.getElementById('img_'+id);
                        pic.src = this.result;
                    }
                }
            }
        check();
        $('#dz').change(function () {
            check()
        })
        function check() {
            var i = $('#dz').find('option:selected').text();
            $('#mgrname').val(i);
            //console.log($('#mgrname').val())
        }
        $('#tj').click(function () {
            $(".item .textcheck").trigger("blur");
            var picTrue;
            $('.picbox img').each(function () {
                if($(this).attr('src')!==''){
                    picTrue = true;
                    $(this).closest('.picbox').removeClass('error');
                    $(this).closest('.item').find('tips').hide()
                }else{
                    picTrue = false;
                }
            })
            var hdw = $('.tips:visible').length;
            //var picUrl = $('.picbox').find('img').attr('url');
            if(hdw){
                zeroModal.error('请补全所有必填项后再次提交')
            }else if(!picTrue){
                zeroModal.error('请上传门店相关图片后再次提交');
                $('.picbox img').each(function () {
                    if ($(this).attr('src')== '') {
                        $(this).closest('.picbox').addClass('error');
                        $(this).closest('.item').find('.tips').show();
                    }
                })
            }else{
                var obj = $('.shopstylecheck:checkbox:checked');
                var check_val  =[];
                for (k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                $('#shopstyle').val(check_val);
                $('#mdform').submit();
                zeroModal.loading();
            }
        })


