extends ../../layout

block head
    link(rel='stylesheet', href='../../css/storeIndex.css')
block content
    .modalItems(class="s-manhattan-index",style="padding:10px 15px")
        .scroll-modalbox-info
          .modal-scroll-page
            -var data = mdinfo.pageList[0]
            .modalitem.modalfock
                .curname 请求合作的卡片：
                .curcont
                    .cardlist
                        .card
                            .card-icon
                                img(src=imgurl+data.clog,id="logoimg")
                            .card-name#cardname #{data.typename}
                            .card-type
                                input#cardID(type='hidden',value=data.aid)
                                b 卡片类型
                                span.typename#cardtype #{data.maintype}
            .modalitem
                .curname 合作的门店或电商：
                .curcont
                    select(id="merchant_aid")
            .modalitem
                .curname 结算方式：
                .curcont
                    select(id="settletype")
                        for list in settletype
                            option(value=list.pcode) #{list.pname}
            .modalitem
                .curname 设置货款结算周期：
                .curcont
                    select(id="settleperiod")
                        for list in settleperiod
                            option(value=list.pcode) #{list.pname}
            .modalitem
                .curname 设置佣金规则：
                .curcont
                    select(id="changerflag")
                        for list in changerflag
                            option(value=list.pcode) #{list.pname}
            .modalitem
                .curname 设置返点比率：
                .curcont
                    input(type="text",id="changerrate")
                    | %
    script.
        $(".scroll-modalbox-info").panel({iWheelStep: 32});
        $.post('/api/Api_MERCHANT_SHOP_A2_Request',{
            Loginaid:'#{loginaid}',
            Appstate:'1',
            Maid:'#{shID}'
        },function (resData) {
            var ghtml = '';
            var mdlist = resData.pageList;
            //console.log(mdlist);
            for(var j in mdlist){
                ghtml += '<option value="'+ mdlist[j].aid +'">'+ mdlist[j].shopname +'</option>';
            }
            $('#merchant_aid').append(ghtml);
        });
