extends ../../layout

block head
    link(rel='stylesheet', href='../../css/storeIndex.css')
    link(rel='stylesheet', href='../../css/store.css')
    script(src='../../../js/city/threeCity.js')
    script(src='../../../js/city/cache_city.js')
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span  我的门店
                            i.arrow &gt;
                            span.last  查看电商详情
                        .main-container
                            .pagecont
                                .mode-main
                                    .tab-panel
                                        .tab-item
                                            .mdzttipscont
                                                    if shzt=='0'
                                                        .contmsg(style="width:550px")
                                                            .msgicon
                                                                img(src='../../img/sh-load.png')
                                                            .msgtips
                                                                .title.green 此电商正在审核中
                                                                .yj(style="margin-top:20px") 我们的工作人员将会尽快审核，审核通过后将会短信通知到您，请注意查收！
                                                    else if shzt == '2'
                                                        .contmsg
                                                            .msgicon
                                                                img(src='../../img/sh-unpass.png')
                                                            .msgtips
                                                                .title.red 此电商未通过审核
                                                                .yj #{Dsdetail.pageList[0].auditopinion}
                                                    else if shzt=='3'
                                                        .contmsg
                                                            .msgicon
                                                                img(src='../../img/sh-jy.png')
                                                            .msgtips
                                                                .title.red 此电商已被禁停
                                                                .yj #{Dsdetail.pageList[0].auditopinion}
                                            .publishbox
                                                -var data = Dsdetail.pageList[0]
                                                    .item
                                                        .title
                                                            span.name 电商名称：
                                                        .inner
                                                            .unChg.word #{data.shopname}
                                                    .item
                                                        .title
                                                            span.name 电商IP：
                                                        .inner
                                                            .unChg.word #{data.eip}
                                                    .item
                                                        .title
                                                            span.name 电商IP备案信息：
                                                        .inner
                                                            .unChg.imgbox
                                                                img(src=imgUrl+data.ereginfo)
                                                    .item
                                                        .title
                                                            span.name 门店标签：
                                                        .inner
                                                            .unChg.word #{shopstylename}
                                                    .item
                                                        .title
                                                            span.name 电商头图：
                                                        .inner
                                                            .unChg.imgbox
                                                                img(src=imgUrl+data.elog)
                                                    .item
                                                        .title
                                                            span.name 电商简介:
                                                        .inner
                                                            .unChg.word #{data.shopcomm}



