extends ../../layout
block head
    link(rel='stylesheet', href="/css/store.css")
    link(rel='stylesheet', href="/css/storeIndex.css")
block content
    include ../../include/header
    .container
            .content
                include ../../lSide
                .mainInclude
                    .m-content.clearfix
                        .page-title
                            span 资金账户管理
                        .main-container
                                .mode-main
                                    .mc
                                        .site-t-inner
                                            .mtable
                                                table.bord
                                                    thead
                                                        tr
                                                            th
                                                                input#all(type='checkbox')
                                                            th 银行开户名
                                                            th 开户银行
                                                            th 开户银行所在地
                                                            th 开户银行支行
                                                            th 对公账号
                                                            th 银行预留手机号
                                                            th 操作
                                                    tbody.xj
                                                        for list in zjList.pageList
                                                            tr
                                                                td
                                                                    input(type='checkbox')
                                                                td #{list.sid}
                                                                td #{list.aid}
                                                                td #{list.createtime}
                                                                td #{list.cmpAccountname}
                                                                td #{list.cmpTelephone}
                                                                td #{list.cmpAccountnumber}
                                                                td


    script.
        //全选效果
        $('#all').on('click', function () {
            $(".xj input[type='checkbox']").prop("checked", $("#all").prop("checked"));
        });
        $(".xj input[type='checkbox']").each(function () {
            $(this).on('click', function () {
                var allCheckNum = $(".xj input[type='checkbox']").length;
                var checkedNum = $(".xj input[type='checkbox']:checked").length;
                if (allCheckNum == checkedNum) {
                    $("#all").prop("checked", 'checked');//全被选中
                } else {
                    $("#all").prop("checked", '');//部分选中
                }
            })
        });

        $('.add').on('click', function(){
            zeroModal.show({
                title: '添加新的操作员账户',
                iframeId: 'addCzy',
                //iframe:true,
                url: 'czy_addPopup',
                width: '640px',
                height: '540px',
                buttons: [{
                    className: 'zeromodal-btn zeromodal-btn-primary',
                    name: '确认添加',
                    fn: function (opt) {
                        tijiao();
                        return false;
                    }
                }, {
                    className: 'zeromodal-btn zeromodal-btn-default',
                    name: '取消',
                    fn: function (opt) {
                    }
                }]
            });;
        })
        $(document).on('click','.see',function(){
            var dzid = $(this).attr('data-id');
            //console.log(document.referrer);
            //console.log(dzid);
        })




