extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 订单中心 /
                        span  消费订单中心 /
                        a(href='javascript:history.go(-1)')  待放款订单管理 /
                        span.last  待放款订单详情
                    .main-container
                        .pagecont
                            .shz-detail.consum_dfk_detail
                                .del-top
                                    img(src='../../img/dfk@2x.png')
                                    span 该笔订单待放款！
                                .detail-content
                                    .order-detail
                                        .or-top 用户信息
                                        ul
                                            li
                                                span 申请人：
                                                .info #{userList.pageList[0].name}
                                            li
                                                span 手机号码：
                                                .info #{userList.pageList[0].account.regphonenumber}
                                            li
                                        .or-btm
                                            a(href='') 查看用户详细信息
                                    .order-detail
                                        .or-top 订单信息
                                        ul
                                            li
                                                span 订单编号：
                                                .info #{orderList.pageList[0].sid}
                                            li
                                                span 订单金额：
                                                .info #{orderList.pageList[0].creditcardamount}
                                            li
                                                span 下单时间：
                                                .info #{orderList.pageList[0].ordertime}
                                            li
                                                span 使用卡片：
                                                .info #{orderList.pageList[0].typename}
                                            li
                                                span 下单商户：
                                                .info #{orderList.pageList[0].mname}
                                            li
                                                span 下单门店/电商：
                                                .info #{orderList.pageList[0].shopname}
                                            li
                                                span 支付类型：
                                                .info #{orderList.pageList[0].ordertype}
                                            li
                                                span 风控计划：
                                                .info AA风控计划
                                            li
                                                span 审批完成时间：
                                                .info 2017-04-28  15：24：25
                                            li
                                                span 状态：
                                                .info #{orderList.pageList[0].orderstate}
                                    .order-detail
                                        .or-top 分期账单信息
                                        .fq-title
                                            //| 已还2004.98元（含滞纳金100.00元） 待还4304.98元
                                        .fq
                                            .fq-top
                                                .f-t-line
                                                    span.money #{billList.pageList[0].orderamout}
                                                    span 分期本金（元）
                                                .f-t-line.f-t-line2
                                                    span.money #{billList.pageList[0].sertotal}
                                                    span 分期总服务费（元）
                                                .f-t-line
                                                    span.money #{billList.pageList[0].total}
                                                    span 应还总额（元）
                                            for data in billList.pageList
                                                .fq-info
                                                    .info-top
                                                        span [#{data.periodcount}/#{data.periodall}期]
                                                        .t-right
                                                            span ￥ #{data.reimbursed}
                                                            span.sxf （手续费#{data.fee}元）
                                                    .info-time
                                                        span 到期日：#{new Date(parseInt(data.overduedate)).toLocaleString().replace(/:\d{1,2}$/,' ')}
                                                        span 还款日：


