extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content
    mixin list(ordertime, mname, shopname, creditcardamount, ordertype, sid, aid, aname, regphonenumber, typename)
        table
            caption
                span 下单时间：#{ordertime}
                span.bh 订单编号：#{sid}
            tbody
                tr
                    td #{aname}
                    td #{regphonenumber}
                    td #{creditcardamount}
                    td #{typename}
                    td #{mname}
                    td #{shopname}
                    td #{ordertype}
                    td
                        - var url = 'consum_yqx_f_detail?sid=' + sid + '&aid=' + aid
                        a(href=url) 查看详情
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 订单中心 /
                        span  消费订单中心 /
                        span.last  已取消订单管理
                    input(id="refreshed" value="no" style='display: none')

                    .main-container
                        .pagecont
                            .consum.consum_yqx
                                .consum-top
                                    .c-t-lin
                                        ul
                                            li
                                                span 订单编号
                                                input(type='text', placeholder='请输入编号' value=sid)#sid
                                            li
                                                span 用户姓名
                                                input(type='text', placeholder='请输入名称' value=name)#aname
                                            li
                                                span 用户手机号
                                                input(type='text', placeholder='请输入手机号' value=regphonenumber)#regphonenumber
                                    .c-t-lin
                                        ul
                                            li
                                                span 下单商户名称
                                                input(type='text', placeholder='请输入名称' value=mname)#mname
                                            li
                                                span 下单门店/电商名称
                                                input(type='text', placeholder='请输入名称' value=shopname)#shopname
                                            li
                                                span 使用卡产品名称
                                                input(type='text', placeholder='请输入名称' value=typename)#typename
                                    .c-t-lin
                                        ul
                                            li
                                                span 下单时间
                                                input(type='text', data-beatpicker="true" data-beatpicker-position="['*','*']" data-beatpicker-range="true" data-beatpicker-module="gotoDate")
                                            li(style='padding-left:110px;')
                                                span(style='width:100px;') 订单金额
                                                input.num(type='number')
                                                i(style='margin:0 10px;') -
                                                input(type='number')
                                            li(style='padding-left:50px;')
                                                a.sear 搜索
                                                a 重置


                                .consum-con
                                    ul
                                        li 用户姓名
                                        li 用户手机号
                                        li 订单金额
                                        li 使用卡产品名称
                                        li 下单商户
                                        li 下单门店/电商名称
                                        li 支付类型
                                        li 操作
                                    for data in orderList.pageList
                                        - var ordertime = new Date(parseInt(data.ordertime)).toLocaleString().replace(/:\d{1,2}$/,' ')
                                        - var mname = data.mname
                                        - var shopname = data.shopname
                                        - var creditcardamount = data.creditcardamount
                                        - var ordertype = data.ordertype
                                        - var sid = data.sid
                                        - var aid = data.aid
                                        - var aname = data.aname
                                        - var regphonenumber = data.account.regphonenumber
                                        - var typename = data.typename
                                        +list(ordertime, mname, shopname, creditcardamount, ordertype, sid, aid, aname, regphonenumber, typename)
    script.
        document.addEventListener("DOMContentLoaded", function (event) {
            var e = document.getElementById("refreshed");
            if (e.value === "no") {
                e.value = "yes";
            } else if (e.value === "yes") {
                e.value = "no";
                window.location.reload();
            }
        });
        $('.sear').on('click', function () {
            zeroModal.alert('功能开发中')
            // window.location.href = '/card/credit/consum_yqx?sid=' + $('#sid').val() + '&aname=' + $('#aname').val() + '&regphonenumber=' + $('#regphonenumber').val() + '&mname=' + $('#mname').val() + '&shopname=' + $('#shopname').val() + '&typename=' + $('#typename').val()
        })
        $('.reset').on('click', function () {
            zeroModal.alert('功能开发中')
            // window.location.href = '/card/credit/consum_yqx'
        })