extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    script(type="text/javascript", charset="utf-8", src="/ueditor/ueditor.config.js")
    script(type="text/javascript", charset="utf-8", src="/ueditor/ueditor.all.min.js")
    script(type="text/javascript", charset="utf-8", src="/ueditor/lang/zh-cn/zh-cn.js")
block content
    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 虚拟卡中心 /
                        a(href='javascript:history.go(-1)')  卡片管理 /
                        span.last  卡片信息
                    .main-container
                        .pagecont
                            form(action='/api/applyDetail', enctype='multipart/form-data', method='post')#formsave
                                .de-navList.tab-confirm
                                    ul.tab-hitle
                                        li 卡片信息
                                        li 协议管理
                                        li 息费设置
                                        li 失效规则设置
                                        li 最低单笔消费设置
                                        li 会员费设置
                                        //li 特权政策
                                        li 风控策略配置
                                        li 资金源配置
                                        //li 各类型商户服务费配置

                                    .cardDetail.editCard.tab-panel
                                        .de-line
                                            //h4 虚拟卡基本信息：
                                            ul
                                                li.de-first
                                                    span.de-title 虚拟卡logo：
                                                    .pic
                                                        .img
                                                            - var imgS = imgurl + cardData.pageList[0].clog
                                                            img#pic_tx(src=imgS)
                                                    div.sc 点击上传图片

                                                    input#pic(type='file' value='' name='clog')
                                                li
                                                    span.de-title 卡片名称：
                                                    - var cardName = cardData.pageList[0].typename
                                                        input(type='text' value=cardName autocomplete="off" name='typename')
                                                li
                                                    span.de-title 预估额度：
                                                    - var predict = cardData.pageList[0].predict
                                                        input(type='text' value=predict autocomplete="off" name='predict')
                                                li
                                                    span.de-title 申请条件：
                                                    - var condition = cardData.pageList[0].condition
                                                        textarea(value=condition autocomplete="off" name='condition') #{condition}
                                                li
                                                    span.de-title 应用范围：
                                                    - var range = cardData.pageList[0].range
                                                        textarea(value=range autocomplete="off" name='range') #{range}
                                                li
                                                    span.de-title 卡片类型：
                                                    | 分期支付专项卡
                                                li
                                                    span.de-title 卡片简介：
                                                    - var profiles = cardData.pageList[0].profiles
                                                        textarea(value=profiles autocomplete="off" name='profiles') #{profiles}
                                        .de-line
                                            //h4 协议信息：
                                            .agreement
                                                .ag-top
                                                    a.zxsq.active 征信授权协议
                                                        - var cdoc = specialData.pageList[0].cdoc
                                                            input(style='display:none' value=cdoc name='cdoc')#cdoc
                                                    a.yhsx 用户授信额度协议
                                                        - var pdoc = specialData.pageList[0].pdoc
                                                            input(style='display:none' value=pdoc name='pdoc')#pdoc
                                                    //a.ht 借款合同
                                                .ag-content
                                                    .editor.active
                                                        #editor01(type="text/plain", style="width:100%;height:500px;")
                                                    .editor
                                                        #editor02(type="text/plain", style="width:100%;height:500px;")
                                                    //.editor
                                                    //    #editor03(type="text/plain", style="width:100%;height:500px;")
                                                    //    button(onclick="getContent03()") 保存



                                        .de-line
                                            //h4 息费设置：
                                            ul
                                                li
                                                    span.de-title 可分期期数及费率：
                                                    .byStages
                                                        if periodData.pageList[0] !== undefined
                                                            for data in periodData.pageList
                                                                .bs-line
                                                                    - var periodcount = data.periodcount
                                                                        input(type="number" name='periodcount' value=periodcount)
                                                                        span 期 ———
                                                                    - var rate = parseInt(data.rate * 100)
                                                                        input(type="number" name='rate' value=rate)
                                                                        span %
                                                                    - var  sid = data.sid
                                                                        a(delaa=sid name='ary').del 删除

                                                    a.bs-add 添加

                                                li
                                                    span.de-title 分期后逾期费率：
                                                    - var cp9Expirerate = contractData.pageList[0].cp9Expirerate
                                                        input(type="number" name='cp9_expirerate' value=cp9Expirerate)
                                                    |  %
                                                li
                                                    span.de-title 账单宽限天数：
                                                    - var cp6Grace = contractData.pageList[0].cp6Grace
                                                        input(type="number" name='cp6_grace' value=cp6Grace)
                                                    |  天
                                                    .ts(style='color:#aaa;') 账单宽限期内还款不收逾期费，但如果用户在此期间内未还，后续再还款还是会收取用户这几天的逾期费
                                        .de-line
                                            //h4 失效规则设置：
                                            ul
                                                li
                                                    span.de-title 设置失效时间：
                                                    - var cp10Loseexplen = contractData.pageList[0].cp10Loseexplen
                                                        input(type="number" name='cp10_loseexplen' value=cp10Loseexplen)
                                                    |  天
                                        .de-line
                                            h4 最低单笔消费设置：
                                            ul
                                                li
                                                    span.de-title 单笔最低消费不能低于：
                                                    - var cp12Minpay = contractData.pageList[0].cp12Minpay
                                                        input(type="number" name='cp12_minpay' value=cp12Minpay)
                                                    |  元
                                        .de-line
                                            //h4 会员费设置：
                                            ul
                                                li
                                                    span.de-title 会员费金额：
                                                    - var cp13Memberfee = contractData.pageList[0].cp13Memberfee
                                                        input(type="number" name='cp13_memberfee' value=cp13Memberfee)
                                                    |  元
                                                li
                                                    - var p14MfType = contractData.pageList[0].p14MfType
                                                    select.huf(name='p14_mf_type' value=p14MfType)
                                                        if p14MfType === '0'
                                                            option(value='0' selected='selected') 按次数收费
                                                            option(value='1') 按天数收费
                                                        else if p14MfType === '1'
                                                            option(value='0') 按次数收费
                                                            option(value='1' selected='selected') 按天数收费
                                                        else
                                                            option(value='0' selected='selected') 按次数收费
                                                            option(value='1') 按天数收费
                                                    if p14MfType === '0'
                                                        .se-line.se01.active
                                                            - var p15MfCounts = contractData.pageList[0].p15MfCounts
                                                            input(type="number" name='p15_mf_counts' value=p15MfCounts)
                                                            |  次
                                                            p 设置会员费在申卡后第几次消费后收取
                                                        .se-line.se02
                                                            - var c17MfStart = contractData.pageList[0].c17MfStart
                                                            input(type="number" name='c17_mf_start' value=c17MfStart)
                                                            |  天
                                                            p 设置会员费在申卡后多少天后生成
                                                    else if p14MfType === '1'
                                                        .se-line.se01
                                                            - var p15MfCounts = contractData.pageList[0].p15MfCounts
                                                            input(type="number" name='p15_mf_counts' value=p15MfCounts)
                                                            |  次
                                                            p 设置会员费在申卡后第几次消费后收取
                                                        .se-line.se02.active
                                                            - var c17MfStart = contractData.pageList[0].c17MfStart
                                                            input(type="number" name='c17_mf_start' value=c17MfStart)
                                                            |  天
                                                            p 设置会员费在申卡后多少天后生成
                                                    else
                                                        .se-line.se01.active
                                                            - var p15MfCounts = contractData.pageList[0].p15MfCounts
                                                            input(type="number" name='p15_mf_counts' value=p15MfCounts)
                                                            |  次
                                                            p 设置会员费在申卡后第几次消费后收取
                                                        .se-line.se02
                                                            - var c17MfStart = contractData.pageList[0].c17MfStart
                                                            input(type="number" name='c17_mf_start' value=c17MfStart)
                                                            |  天
                                                            p 设置会员费在申卡后多少天后生成
                                        //.de-line
                                        //    //h4 特权政策：
                                        //    .privilege
                                        //        h5 系统内特权：
                                        //        .pr-top
                                        //            span.xtn_tq 新增特权
                                        //            span 删除
                                        //        table
                                        //            thead
                                        //                tr
                                        //                    th(width='10%')
                                        //                        input.all(type='checkbox')
                                        //                    th(width='35%') 特权信息
                                        //                    th(width='35%') 激活条件
                                        //                    th(width='20%') 操作
                                        //            tbody.xj
                                        //                tr
                                        //                    td
                                        //                        input(type='checkbox')
                                        //                    td 减免第3次会员费，减免30%
                                        //                    td 申卡后3个月内，总使用次数达到3次
                                        //                    td
                                        //                        a.xtn-edit 修改特权
                                        //                tr
                                        //                    td
                                        //                        input(type='checkbox')
                                        //                    td 分期息费减免-永久，减免40%
                                        //                    td 分期次数达到10次以上
                                        //                    td
                                        //                        a.xtn-edit 修改特权
                                        //        h5 系统外特权：
                                        //        .pr-top
                                        //            span.xtw_tq 新增特权
                                        //            span 删除
                                        //        table
                                        //            thead
                                        //                tr
                                        //                    th(width='10%')
                                        //                        input.all01(type='checkbox')
                                        //                    th(width='35%') 特权信息
                                        //                    th(width='35%') 激活条件
                                        //                    th(width='20%') 操作
                                        //            tbody.xj01
                                        //                tr
                                        //                    td
                                        //                        input(type='checkbox')
                                        //                    td 减免第3次会员费，减免30%
                                        //                    td 申卡后3个月内，总使用次数达到3次
                                        //                    td
                                        //                        a.xtw-edit 修改特权
                                        //                tr
                                        //                    td
                                        //                        input(type='checkbox')
                                        //                    td 分期息费减免-永久，减免40%
                                        //                    td 分期次数达到10次以上
                                        //                    td
                                        //                        a.xtw-edit 修改特权
                                        .de-line
                                            //h4 风控策略配置：
                                            ul
                                                li
                                                    span.de-title 选择风控策略：
                                                    - var cp19Risk = contractData.pageList[0].cp19Risk
                                                    select(name='cp19_risk' value=cp19Risk)
                                                        if cp19Risk === '0'
                                                            option(value='0' selected = "selected") 风控策略1
                                                            option(value='1' ) 风控策略2
                                                            option(value='2') 风控策略3
                                                        else if cp19Risk === '1'
                                                            option(value='0' ) 风控策略1
                                                            option(value='1' selected = "selected") 风控策略2
                                                            option(value='2') 风控策略3
                                                        else if cp19Risk === '2'
                                                            option(value='0' ) 风控策略1
                                                            option(value='1' ) 风控策略2
                                                            option(value='2' selected = "selected") 风控策略3
                                                        else
                                                            option(value='0' selected = "selected") 风控策略1
                                                            option(value='1' ) 风控策略2
                                                            option(value='2' ) 风控策略3

                                        .de-line
                                            //h4 资金源配置：
                                            ul
                                                li
                                                    span.de-title 选择资金账户：
                                                    - var cp20Wid = contractData.pageList[0].cp20Wid
                                                    select(name='cp20_wid' value=cp20Wid)
                                                        option(value='') 账户1

                                        //.de-line.shfw
                                        //    //h4 各类型商户服务费设置：
                                        //    ul
                                        //        li
                                        //            span.de-title 个体商户服务费：
                                        //            input(type='text')
                                        //            |  %
                                        //            em 服务费上线30%
                                        //        li
                                        //            span.de-title 私营商户服务费：
                                        //            input(type='text')
                                        //            |  %
                                        //            em 服务费上线50%
                                        //        li
                                        //            span.de-title 连锁商户服务：
                                        //            input(type='text')
                                        //            |  %
                                        //            em 服务费上线60%
                                        .de-btn#save
                                            span(onclick="getContent()") 提交

    script.
        var meg = '#{meg}';
        if (meg !== 'undefined' && meg !== '') {
            zeroModal.alert({
                content: meg,
                okFn: function () {
                    window.location.href = "/card/cardc/draft"
                }
            })
        }
        var sid = [] //定义一个数组 删除
        $(function(){
            $('a[name=ary]').each(function () {//遍历每一个名字为interest的复选框，其中选中的执行函数
                // if (sid === "") {
                //     sid = $(this).attr('delaa');
                // } else {
                //     sid += "," + $(this).attr('delaa');
                // }
                sid.push($(this).attr('delaa'))
            });
            //上传图片
            $("#pic").change(function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $("#pic_tx").attr("src", this.result);
                };
            });

            //  会员费设置
            $('.huf').on('change', function(){
                if ($(this).val() === '0') {
                    $('.se01').addClass('active').siblings().removeClass('active');
                }else if($(this).val() === '1'){
                    $('.se02').addClass('active').siblings().removeClass('active');
                }else{
                    $('.se01,.se02').removeClass('active');
                }
            })

            //全选效果
            function checkAll(class1, class2) {
                class1.on('click', function () {
                    class2.find("input[type='checkbox']").prop("checked", class1.prop("checked"));
                });
                class2.find("input[type='checkbox']").each(function () {
                    $(this).on('click', function () {
                        var allCheckNum = class2.find("input[type='checkbox']").length;
                        var checkedNum = class2.find("input[type='checkbox']:checked").length;
                        if (allCheckNum == checkedNum) {
                            class1.prop("checked", 'checked');//全被选中
                        } else {
                            class1.prop("checked", '');//部分选中
                        }
                    })
                });
            }
            new checkAll($('.all'), $('.xj'));
            new checkAll($('.all01'), $('.xj01'));


            //选中项操作
            $('.de-btn span').on('click', function () {

                if ($(".all").prop("checked") == true) {//全被选中时的操作
                    console.log(3)
                } else {
                    $(".xj input[type='checkbox']").each(function () {
                        if ($(this).prop('checked') == true) {   //部分被选中项的操作
                        } else {      // 都没被选中事的操作
                        }
                    })
                }

            })

            //    系统内特权
            $('.xtn_tq').on('click', function(){
                zeroModal.show({
                    url: 'tq_addPopup',
                    title: '新增系统内特权',
                    width:'600px',
                    height:'570px',
                    cancel:true
                })
            })
            //    系统内特权
            $('.xtw_tq').on('click', function () {
                zeroModal.show({
                    url: 'tq_xtwPopup',
                    title: '新增系统外特权',
                    width: '600px',
                    height: '500px',
                    cancel: true
                })
            })

            //    修改系统内特权
            $('.xtn-edit').on('click', function () {
                zeroModal.show({
                    url: 'tq_addPopup',
                    title: '新增系统内特权',
                    width: '600px',
                    height: '570px',
                    cancel: true
                })
            })
            //    修改系统内特权
            $('.xtw-edit').on('click', function () {
                zeroModal.show({
                    url: 'tq_xtwPopup',
                    title: '新增系统外特权',
                    width: '600px',
                    height: '500px',
                    cancel: true
                })
            })

            $('.agreement a').on('click', function(){
                $(this).addClass('active').siblings().removeClass('active');
                var activeindex = $('.agreement').find("a").index(this);
                $('.ag-content').children().eq(activeindex).addClass("active").siblings().removeClass('active');
            })


        })

        // 富文本编辑器 初始化
        var ue01 = UE.getEditor('editor01');
        var ue02 = UE.getEditor('editor02');
        ue01.ready(function () {
            var cdoc = $('#cdoc').val()

            ue01.execCommand('inserthtml', cdoc)
        });
        ue02.ready(function () {
            var pdoc = $('#pdoc').val()
            ue02.execCommand('inserthtml', pdoc)
        });


        function getContent() {
            // if(document.getElementById("pic_tx").src ) {
            //     zeroModal.error('图片不可为空')
            //     return false
            // }
             $.post('/api/cardid', {card_type_id: '#{card_type_id}'}, function (res) {
                 if (res.retcode !== '0') {
                     return false
                 }
             })
             zeroModal.loading(1)
             // 编辑器内容
             $('#cdoc').val(UE.getEditor('editor01').getContent());
             $('#pdoc').val(UE.getEditor('editor02').getContent());
             //西非子表提交



             var periodcount = [];//定义一个数组 添加
             $('.bs-line').each(function () {//遍历每一个名字为interest的复选框，其中选中的执行函数
                 // if (periodcount === "") {
                 //     periodcount = $(this).children('input[name="periodcount"]').val()
                 // } else {
                 //     periodcount += "," + $(this).children('input[name="periodcount"]').val()
                 // }
                 periodcount.push($(this).children('input[name="periodcount"]').val())
             });



             var rate = [];//定义一个数组 添加
             $('.bs-line').each(function () {//遍历每一个名字为interest的复选框，其中选中的执行函数
                 // if (rate === "") {
                 //     rate = $(this).children('input[name="rate"]').val()
                 // } else {
                 //     rate += "," + $(this).children('input[name="rate"]').val()
                 // }
                 rate.push($(this).children('input[name="rate"]').val())
             });

             var reqData = {
                 sid : JSON.stringify(sid),
                 periodcount : JSON.stringify(periodcount),
                 rate : JSON.stringify(rate),
                 card_type_id : '#{card_type_id}'
             }
             $.post('/api/removeadd', reqData, function (res) {
                 console.log(res.retcode)
                 if (res.status.resultcode === '0') {
                     $('#formsave').submit()
                 } else {
                     zeroModal.error('网络错误,请稍候再试')
                 }
             })




            // var errornumber = $('a[name=ary]').length
            // console.log(errornumber)
            // var test = $('a[name=ary]').each(function () {
            //     var sid = $(this).attr('delaa')
            //     $.post('/api/Api_CARD_TYPE_PERIOD_A4_Request', {Sid: sid}, function (res) {
            //         if (res.status.resultcode === '0') {
            //             errornumber--
            //             console.log('aaaa' + errornumber)
            //
            //         } else {
            //             return false
            //         }
            //     })
            // })
            // var errornum = $('.bs-line').length
            // if(errornumber === 0) {
            //     var test = $('.bs-line').each(function () {
            //         var periodcount = $(this).children('input[name="periodcount"]').val()
            //         var rate = $(this).children('input[name="rate"]').val()
            //         $.post('/api/Api_CARD_TYPE_PERIOD_A1_Request', {
            //             Rate: rate,
            //             Periodcount: periodcount
            //         }, function (res) {
            //             if (res.status.resultcode === '0') {
            //                 errornum--
            //                 console.log('bbbb' + errornum)
            //             } else {
            //                 return false
            //             }
            //         })
            //     })
            // }
            // console.log('cccccc' + errornum)
            //
            // alert(1)
            // $('#formsave').submit()

        }

    script.

        sessionStorage.setItem('sid', '#{cardData.pageList[0].sid}')

        //tab切换
        $('.de-line').addClass('tab-item');
    script.
        //西非添加
        $('.bs-add').on('click', function () {
            var html = '<div class="bs-line ">'
            html += '<input type="number" name=\'periodcount\' value=\"0\"><span>期 ———</span>'
            html += '<input type="number" name=\'rate\' value="0"><span>%</span><a class=\"del\">删除</a>'
            html += '</div>'
            $('.byStages').append(html)
        })

        // 西非删除
        $(document).on('click','.del', function () {
            $(this).parent().remove()
        })


    script(type = 'text/javascript', src = '../../js/tab.js').