extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')

block content
    .invite-detail
        ul.inv-de
            li
                .invi-top
                    span 商户名称：
                .invi-con
                    ul
                        li #{detail.pageList[0].merchant.accountname}
            li
                .invi-top
                    span 关联门店/电商：
                    a.retract
                        span 共15个门店
                        img(src='../../img/down.png')
                .invi-con
                    ul.m-open
                        li XXX服务有限公司
                        li XXX服务有限公司
                        li XXX服务有限公司
                        li XXX服务有限公司
            li
                .invi-top
                    span 关联卡片：
                    a.retract
                        span 共15张卡片
                        img(src='../../img/down.png')
                .invi-con(style="background:#fff;border:0;")
                    ul.in-img
                        li
                            .img
                                img(src='../../img/ciri.jpg')
                            span xx轻奢卡
                        li
                            .img
                                img(src='../../img/ciri.jpg')
                            span xx轻奢卡
                        li
                            .img
                                img(src='../../img/ciri.jpg')
                            span xx轻奢卡
                        li
                            .img
                                img(src='../../img/ciri.jpg')
                            span xx轻奢卡
                        li
                            .img
                                img(src='../../img/ciri.jpg')
                            span xx轻奢卡
                        li
                            .img
                                img(src='../../img/ciri.jpg')
                            span xx轻奢卡
            li
                .invi-top
                    span 贷款结算方式：
                .invi-con
                    ul
                        li #{detail.pageList[0].settletype}
            li
                .invi-top
                    span 置货款结算周期：
                .invi-con
                    ul
                        li #{detail.pageList[0].settleperiod}
            li
                .invi-top
                    span 设置佣金规则：
                .invi-con
                    ul
                        li #{detail.pageList[0].changerrate}
            li
                .invi-top
                    span 输入返点比例：
                .invi-con
                    ul
                        li #{detail.pageList[0].changerflag}
            li
                .invi-top
                    span 商户联系方式：
                .invi-con
                    ul
                        li #{detail.pageList[0].merchant.phonenumber}
            li
                .invi-top
                    span 邀约时间：
                .invi-con
                    ul
                        li #{detail.pageList[0].applicationtime}
    .in-btm
        span.ty 同意
        span.bty 不同意




    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size:100% 100%;
        }
    script.
        // 展开收起效果
        $('.retract').on('click', function(){
            if($('.retract img').hasClass('active')){
                $(this).find('img').removeClass('active');
                $(this).closest('li').find('.invi-con ul').removeClass('active');
            }else{
                $(this).find('img').addClass('active');
                $(this).closest('li').find('.invi-con ul').addClass('active');
            }
        });
        var sid = '#{detail.pageList[0].sid}';
        console.log(sid);
        $('.ty').on('click', function(){
            zeroModal.show({
                url:'invite_accept?sid=' + sid,
                title:'接受邀请',
                width:'410px',
                height:'247px'
            })
        });
        $('.bty').on('click', function () {
            zeroModal.show({
                url: 'invite_refuse?sid=' + sid,
                title:'拒绝邀请',
                width: '410px',
                height: '247px'
            })
        });