extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content

    mixin list(shopname, address, shopcomm, tel, etypeid, mgraid, maid, inreqcount, bindcount, sid, imgS)
        tr
            td #{sid}
            td
                img(src=imgS)
            td #{shopname}
            td #{address}
            td #{shopcomm}
            td #{tel}
            td #{etypeid}
            td
                a.del.xiangqing 查看详情
                a.del.coop(merchant_aid=mgraid maids=maid ) 发起合作
            td
                if inreqcount !== 0
                    span.sqz.active 申请中
                else if bindcount !== 0
                    span.hzz.active 合作中


    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 合作中心 /
                        span.last  商户池
                    input(id="refreshed" value="no" style='display: none')
                    .main-container
                        .pagecont
                            .mer-pool
                                .cardTop
                                    .seaBox
                                        .sea-line
                                            span 商户名称
                                            input(type='text', placeholder='请输入名称')#accountname
                                        .sea-line
                                            span 门店/电商名称
                                            input(type='text', placeholder='请输入名称' value=shopname)#shopname
                                        .sea-line
                                            span 业务类型
                                            select#mantype
                                                option(value='') 全部
                                                // for data in shoptagList.pageList
                                                //     - var sid = data.sid
                                                //     if data !== ''
                                                //         if sid === maintype
                                                //             option(value=sid selected='selected') #{data.tagname}
                                                //         else
                                                //             option(value=sid) #{data.tagname}
                                                //
                                                // for data in shoptageList.pageList
                                                //     - var sid = data.sid
                                                //     option(value=sid) #{data.tagname}

                                        .sea-line
                                            span 店铺类型
                                            select#typeid
                                                option(value='') 全部
                                                option 门店
                                                option 电商
                                        .sea-line
                                            a.sear 搜索
                                            a.reset 重置
                                .mer-con
                                    table
                                        thead
                                            tr

                                                th 编号
                                                th 门店/电商 头图
                                                th 门店/电商 名称
                                                th 门店/电商 地址
                                                th 所属商户信息
                                                th 商户联系电话
                                                th 店铺类型
                                                th 操作
                                                th 备注
                                        tbody
                                            for data , i in shopList.pageList
                                                - var  shopname = data.shopname
                                                - var address = data.address
                                                - var shopcomm = data.shopcomm
                                                - var tel = data.tel
                                                - var etypeid = data.etypeid
                                                - var mgraid = data.aid
                                                - var maid = data.maid
                                                - var inreqcount = cardList.pageList[i].inreqcount
                                                - var bindcount = cardList.pageList[i].bindcount
                                                - var sid = data.sid
                                                if data.elog === null
                                                    - var imgS = imgurl + data.shopphotos
                                                else
                                                    - var imgS = imgurl + data.elog
                                                +list(shopname, address, shopcomm, tel, etypeid, mgraid, maid, inreqcount, bindcount, sid, imgS)

    script.
        $(function () {
            var e = document.getElementById("refreshed");
            if (e.value === "no") {
                e.value = "yes";
            } else if (e.value === "yes") {
                e.value = "no";
                window.location.reload();
            }
        })



        $('.coop').on('click', function(){
            var id = $(this).attr('merchant_aid')
            var maid = $(this).attr('maids')
            zeroModal.show({
                url:'mer_popup?id=' + id + '&maid=' + maid,
                title:'请求合作',
                width:'692px',
                height:'540px'
            })
        })
        //功能开发中
        $('.sear').on('click', function () {
            zeroModal.alert('功能开发中')
            // window.location.href = '/card/cooperation/merchant_pool?shopname=' + $('#shopname').val() + '&accountname=' + $('#accountname').val() + '&mantype=' + $('#mantype').val() + '&typeid=' + $('#typeid').val()
        })
        $('.reset').on('click', function () {
            zeroModal.alert('功能开发中')
            // window.location.href = '/card/cooperation/merchant_pool'
        })
        $('.xiangqing').on('click', function () {
            zeroModal.alert('功能开发中')
        })



