extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')
block content



    mixin list(contid, settleperiod, changerrate, processingtime, accountname, companyname, phonenumber, appstatusname ,appstatus, sid)
        tr
            td
                input(type='checkbox', name='se' sid=sid)
            td(width='100px') #{contid}
            td(width='80px') #{accountname}
            td(width='70px') #{settleperiod}
            td(width='115px') #{changerrate}
            td(width='80px') 暂无数据
            td(width='80px') #{companyname}
            td(width='80px') #{phonenumber}
            td(width='100px') #{processingtime}
            if appstatus === '1'
                td(width='80px').zt
                    span.hzz.active #{appstatusname}
                td(width='120px')
                    a.edit-apply(sid=sid) 查看详情
                td(width='130px')
                    a.co-detail(sid=sid) 查看合作详情
                    a.change-apply 申请变更合作方式
            else if appstatus === '2'
                td(width='80px').zt
                    span.yzt.active #{appstatusname}
                td(width='120px')
                    a.edit-apply(sid=sid) 查看详情
                td(width='130px')
                    a.co-detail(sid=sid) 查看合作详情


    include ../../include/card_header
    .container
        .content
            include ../../include/cardSide
            .mainInclude
                .m-content.clearfix
                    .page-title
                        a.home(href='/card')
                        span / 合作中心 /
                        span.last  我的合作
                    input(id="refreshed" value="no" style='display: none')
                    .main-container
                        .pagecont
                            .invite-coop.my-coop
                                .invite-con
                                    .i-c-top
                                        .t-line
                                            span 邀约编号
                                            input(type='text', placeholder='请输入编号' value=contid)#contid
                                        .t-line
                                            span 商户名称
                                            input(type='text', placeholder='请输入名称' value=mname)#mname
                                        .t-line
                                            span 门店/商户名称
                                            input(type='text', placeholder='请输入名称' value=shopname)#shopname
                                        .t-line
                                            span.sea 搜索
                                            span.reset 重置
                                    .m-c-con
                                        .operation
                                            span.suspend 暂停合作
                                            span.recovery 恢复合作
                                            span.del 删除合作
                                        table
                                            thead
                                                tr
                                                    th
                                                        input#all(type='checkbox')
                                                    th 编号
                                                    th 商户名称
                                                    th 货款结算周期
                                                    th 佣金规则
                                                    th 关联合作门店/电商集
                                                    th 卡片名称
                                                    th 商户联系方式
                                                    th 邀约时间
                                                    th 状态
                                                    th 申请变更合作方式
                                                    th(width='134px') 操作
                                            tbody.xj
                                                for data in shopList.pageList
                                                    - var contid = data.contid
                                                    - var settleperiod = data.settleperiod
                                                    - var changerrate = data.changerrate
                                                    - var applicationtime = data.processingtime
                                                    - var accountname = data.merchant.accountname
                                                    - var companyname = data.card_merchant.companyname
                                                    - var phonenumber = data.merchant.phonenumber
                                                    - var appstatusname = data.appstatusname
                                                    - var appstatus = data.appstatus
                                                    - var sid = data.sid
                                                    +list(contid, settleperiod, changerrate, applicationtime, accountname, companyname, phonenumber, appstatusname,appstatus, sid)

    script.
        $(function () {
            var e = document.getElementById("refreshed");
            if (e.value === "no") {
                e.value = "yes";
            } else if (e.value === "yes") {
                e.value = "no";
                window.location.reload();
            }
        })
        //全选效果
        $('#all').on('click', function () {
            $(".xj input[type='checkbox']").prop("checked", $("#all").prop("checked"));
        });
        $(".xj input[type='checkbox']").each(function () {
            $(this).on('click', function () {
                var allCheckNum = $(".xj input[type='checkbox']").length;
                var checkedNum = $(".xj input[type='checkbox']:checked").length;
                if (allCheckNum == checkedNum) {
                    $("#all").prop("checked", 'checked');//全被选中
                } else {
                    $("#all").prop("checked", '');//部分选中
                }
            })
        });
        //暂停合作
        $('.suspend').on('click', function () {
            zeroModal.show({
                title: '暂停合作提示',
                width: '410px',
                height: '247px',
                content:"<p class=\'zt-title\'>确定要暂停选中的合作吗？</p><div class=\'zt-con\'><span id=\'stopc\' class=\'zt-c-f\'>暂停</span><span class=\'zt-c-s\'>取消</span></div>"

            })
        })
        //恢复合作
        $('.recovery').on('click', function () {
            zeroModal.show({
                title: '恢复合作提示',
                width: '410px',
                height: '247px',
                content:"<p class=\'zt-title\'>确定要恢复选中的合作吗？</p><div class=\'zt-con\'><span id=\'recoverc\' class=\'zt-c-f\'>恢复</span><span class=\'zt-c-s\'>取消</span></div>"
            })
        })
        //删除合作
        $('.del').on('click', function () {
            // zeroModal.show({
            //     title: '删除合作提示',
            //     width: '410px',
            //     height: '247px',
            //     content:"<p class=\'zt-title\'>确定要删除选中的合作吗？</p><div class=\'zt-con\'><span class=\'zt-c-f\'>删除</span><span class=\'zt-c-s\'>取消</span></div>"
            // })
            zeroModal.alert('功能开发中')
        })

        //查看详情（合作参数修改申请）
        $('.edit-apply').on('click', function () {
            // var sid = $(this).attr('sid')
            // zeroModal.show({
            //     url: 'my_edit_apply?sid=' + sid,
            //     title: '合作参数修改申请',
            //     width: '692px',
            //     height: '540px'
            // })
            zeroModal.alert('功能开发中')
        })
        //查看合作详情
        $('.co-detail').on('click', function () {
            // var sid = $(this).attr('sid')
            // zeroModal.show({
            //     url: 'my_co_detail?sid=' + sid,
            //     title: '合作详情',
            //     width: '692px',
            //     height: '540px'
            // })
            zeroModal.alert('功能开发中')
        })
        //申请变更合作方式
        $('.change-apply').on('click', function () {
            // zeroModal.show({
            //     url: 'my_change_apply',
            //     title: '申请变更合作方式',
            //     width: '692px',
            //     height: '540px'
            // })
            zeroModal.alert('功能开发中')
        })
        //功能开发中 .suspend .recovery .del
        $('.sear').on('click', function () {
            zeroModal.alert('功能开发中')
            // window.location.href = '/card/cooperation/my_cooperation?contid=' + $('#contid').val() + '&mname=' + $('#mname').val() + '&shopname=' + $('#shopname').val()
        })
        $('.reset').on('click', function () {
            zeroModal.alert('功能开发中')
            // window.location.href = '/card/cooperation/my_cooperation'
        })
        $(document).on('click', '#stopc', function () {
            zeroModal.loading(1)
            var sid = [];//定义一个数组 添加
            $('input:checked[name="se"]').each(function () {//遍历每一个名字为interest的复选框，其中选中的执行函数
                sid.push($(this).attr('sid'))
            });
            $.post('/api/stopc', {sid : JSON.stringify(sid)}, function (res) {
                console.log(res.retcode)
                if(res.retcode === '0'){
                    zeroModal.closeAll()
                    window.location.reload()
                } else {
                    zeroModal.error('提交错误,请稍候再试')
                    window.location.reload()
                }
            })
        })
        $(document).on('click', '#recoverc', function () {
            zeroModal.loading(1)
            var sid = [];//定义一个数组 添加
            $('input:checked[name="se"]').each(function () {//遍历每一个名字为interest的复选框，其中选中的执行函数
                sid.push($(this).attr('sid'))
            });
            console.log(sid)
            $.post('/api/recoverc', {sid: JSON.stringify(sid)}, function (res) {
                console.log(res.retcode)
                if (res.retcode === '0') {
                    zeroModal.closeAll()
                    window.location.reload()
                } else {
                    zeroModal.error('提交错误,请稍候再试')
                    window.location.reload()
                }
            })
        })