extends ../../layout

block head
    link(rel='stylesheet', href='../../css/CardIndex.css')

block content
    .operator_c_add
        ul
            li
                .top
                    i *
                    span 姓名：
                    //span.notice 请输入姓名
                - var name = workerList.pageList[0].name
                input(type='text', placeholder='请输入姓名' value=name)#name
            li
                .top
                    i *
                    span 身份证号码：
                    //span.notice 请输入身份证号码
                - var idnumber = workerList.pageList[0].idnumber
                input(type='text', placeholder='请输入身份证号码' value=idnumber )#idnumber
            li
                .top
                    i *
                    span 选择职位：
                select(name='')#ptype
                    for data in addList.pageList
                        - var sid = data.sid
                        - var ptype = workerList.pageList[0].ptype
                        if  parseInt(ptype) === parseInt(sid)
                            option(value=sid selected='selected') #{data.rname}
                        else
                            option(value=sid) #{data.rname}
            li
                .top
                    i *
                    span 手机号码：
                    //span.notice 请输入手机号码
                - var regphonenumber = workerList.pageList[0].regphonenumber
                input(type='text', placeholder='请输入手机号码' value=regphonenumber name='regphonenumber')#regphonenumber
        .btm
            span#confirmAdd 保存

    style.
        .zeromodal-header {
            text-align: center;
            height: 59px;
            line-height: 59px;
            background: #E63F46;
            color: #fff;
        }

        .zeromodal-close {
            background: url("../../img/close.png") no-repeat;
            background-size: 100% 100%;
        }

    script.
        $('#confirmAdd').on('click', function () {

            var errornum = '0'
            if ($('#name').val() === '') {
                errornum++
            }
            if ($('#idnumber').val() === '') {
                errornum++
            }
            if ($('#ptype').val() === '') {
                errornum++
            }
            if ($('#regphonenumber').val() === '') {
                errornum++
            }
            if (errornum !== '0') {
                zeroModal.error('提交错误,有选项为空')
            }
            $.post('/card/card_operator/changecworker', {
                name: $('#name').val(),
                idnumber: $('#idnumber').val(),
                ptype: $('#ptype').val(),
                regphonenumber: $('#regphonenumber').val(),
                rname: $('#ptype option:selected').text(),
                password: '#{workerList.pageList[0].password}',
                sid: '#{workerList.pageList[0].sid}'
            }, function (res) {
                if (res.status.resultcode === '0') {

                    window.location.reload()
                } else {
                    zeroModal.error('网络错误')
                }
            })
        })

